@charset "UTF-8";

body {
	background: #ebebeb url('../img/allbg.jpg');
}

a {
	text-decoration: none;
	color: #000;
}

a img {
	border: none;
}

nav {
	width: 610px;
	margin: 0 auto;
}

nav a {
	display: block;
	background: url('../img/pergament.jpg');
	width: 10em;
	margin: .5em auto;
	padding: 0.125em 0.3125em;
	text-align: center;
}

[hidden] {
	display: none;
}

#text {
	color: #fff;
	position: absolute;
	top: 160px;
	left: 0px;
	padding: 10px;
	padding-bottom: 100px;
	background-color: #000;
	width: 100%;
	background-image: url('../img/ostern/close.png');
	background-repeat: no-repeat;
	background-position: bottom center;

	/* Hintergrund-Transparenz ist im JavaScript, Controller.class.js:gefunden() definiert */
}

#text img {
	margin: 5px;
	opacity: 1;
}

#text .text {
	max-width: 70%;
	margin: auto;
}

header {
	height: 200px;
}

header h1 {
	margin: auto;
	text-align: center;
}

header h2, #impressum th, #impressum td {
	text-align: center;
	margin: 0 auto;
	padding: .2em; border : 2px solid #74090B;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #dbae71;
	border: 2px solid #74090B;
}

header h2 {
	font: 30px bold;
	position: static;
}

#stage {
	width: 610px;
	height: 430px;
	border: 2px solid #74090B;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #E9CB9D;
	margin: auto;
	text-align: center;
}

#bild {
	width: 600px;
	position: absolute;
}

img.left {
	float: left;
}

img.right {
	float: right;
}

img.center {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}

#vor {
	float: right;
}

#zurueck {
	float: left;
}

#impressum table {
	margin: 0 auto;
}

#impressum p {
	margin: .2em;
}

#impressum .text {
	color: #EE4000;
}

#impressum .bild {
	color: #8B4513;
}

#impressum .bastel {
	color: #000000;
}

#impressum .rezept {
	color: #000000;
}

#impressum [scope=rowgroup], #impressum .bildheader {
	font-size: 1.17em;
	font-weight: bold;
	padding: 1em 0;
}